* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.fundo { 
    background: linear-gradient(45deg, black, crimson);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculadora { 
    width: 350px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 30px;
    border-radius: 15px;
    font-family: Arial, sans-serif;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.calculadora h1 {
    margin-bottom: 20px;
}

table {
    width: 100%;
}

.calculadora input { 
    margin: 10px 0;
    padding: 12px;
    border-radius: 15px;
    border: none;
    width: 100%;    
}

.calculadora button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border-radius: 15px;
    border: none;
    background-color: crimson;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.calculadora button:hover {
    background-color: #a0102b;
}

#resultado {
    margin-top: 20px;
    font-size: 1.2rem;
    text-align: center;
    transition: all 0.5s ease;
}

#resultado span {
    display: block;
    font-size: 1rem;
    margin-top: 8px;
}